[gcode_macro _CLIENT_VARIABLE]
variable_park_at_cancel: True
variable_park_at_cancel_x: 5    # Replace with your desired X coordinate
variable_park_at_cancel_y: 345  # Replace with your desired Y coordinate
variable_speed_move : 800       # Speed for cancel print move in mm/s
gcode:  # Placeholder gcode block
  ; This macro is used to define variables and does not perform any actions

#####################################################################
##                          	Macros                             ##
#####################################################################
  
[gcode_macro PRINT_START]
gcode:

  SET_PIN PIN=led_bar VALUE=1
  SET_LED LED=stealthburner_leds RED=1.0 GREEN=1.0 BLUE=1.0 WHITE=1.0

  SET_FAN_SPEED FAN=fan1 SPEED=1.0
  SET_FAN_SPEED FAN=fan2 SPEED=1.0
  
  # This part fetches data from your slicer. Such as bed, extruder, and chamber temps and size of your printer.
  {% set target_bed = params.BED|int %}
  {% set target_extruder = params.EXTRUDER|int %}
  {% set target_chamber = params.CHAMBER|default("0")|int %}
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}

  ##  Uncomment for Beacon Contact (1 of 4 for beacon contact)
  SET_GCODE_OFFSET Z=0                                 # Set offset to 0

  # Home the printer, set absolute positioning and update the Stealthburner LEDs.
  #STATUS_HOMING                                         # Set LEDs to homing-mode
  G28                                                   # Full home (XYZ)
  G90                                                   # Absolute position

  ##  Uncomment for bed mesh (1 of 2 for bed mesh)
  BED_MESH_CLEAR                                        # Clear old saved bed mesh (if any)

  # Check if the bed temp is higher than 90c - if so then trigger a heatsoak.
  {% if params.BED|int > 90 %}
    SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"           # Display info on display
    #STATUS_HEATING                                      # Set LEDs to heating-mode
    #M106 S255                                           # Turn on the PT-fan

    ##  Uncomment if you have a Nevermore.
    #SET_PIN PIN=nevermore VALUE=1                      # Turn on the nevermore

    G1 X{x_wait} Y{y_wait} Z10 F48000                    # Go to center of the bed
    M190 S{target_bed}                                  # Set the target temp for the bed

  # If the bed temp is not over 90c, then skip the heatsoak and just heat up to set temp with a 5 min soak
  {% else %}
    SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"           # Display info on display
    #STATUS_HEATING                                      # Set LEDs to heating-mode
    G1 X{x_wait} Y{y_wait} Z15 F9000                    # Go to center of the bed
    M190 S{target_bed}                                  # Set the target temp for the bed
    SET_DISPLAY_TEXT MSG="Soak for 5 min"               # Display info on display
    G4 P300000                                          # Wait 5 min for the bedtemp to stabilize
  {% endif %}

  # Heat hotend to 150c. This helps with getting a correct Z-home.
  SET_DISPLAY_TEXT MSG="Hotend: 150c"                   # Display info on display
  M109 S150                                             # Heat hotend to 150c

  # Handle chamber temperature AFTER hotend preheat
  {% if "temperature_sensor chamber" not in printer %}
    # Chamber sensor not detected
    M117 "Chamber sensor missing! Skipping chamber heat check."
  {% else %}
    {% if target_chamber > 0 %}
      # Chamber temperature handling
      # Uncomment the following line to turn on the bed fan during chamber heating
      # M106 P1 S255  ; Replace 'P1' with your bed fan identifier and set speed (e.g., 255 for full speed)
    
      SET_DISPLAY_TEXT MSG="Waiting for chamber: {target_chamber}°C"
      TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={target_chamber}
      SET_DISPLAY_TEXT MSG="Chamber ready at {target_chamber}°C"
    {% endif %}
  {% endif %}
  
  ##  Uncomment for Beacon contact (2 of 4 for beacon contact)
  G28 Z METHOD=CONTACT CALIBRATE=1                     # Calibrate z offset and beacon model

  ##  Uncomment for V2.4 (Quad gantry level AKA QGL)
  SET_DISPLAY_TEXT MSG="Leveling"                       # Display info on display
  #STATUS_LEVELING                                       # Set LEDs to leveling-mode
  QUAD_GANTRY_LEVEL                                     # Level the printer via QGL
  #G28 Z                                                # Home Z again after QGL
  
  ##  Uncomment for bed mesh (2 of 2 for bed mesh)
  SET_DISPLAY_TEXT MSG="Bed mesh"                       # Display info on display
  #STATUS_MESHING                                       # Set LEDs to bed mesh-mode
  BED_MESH_CALIBRATE ADAPTIVE=1      # Start the bed mesh (add ADAPTIVE=1) for adaptive bed mesh

  ## Uncomment for Beacon Contact (3 of 4 for beacon contact)
  G28 Z METHOD=CONTACT CALIBRATE=0                     # Calibrate z offset only with hot nozzle

  SMART_PARK

  # Heat up the hotend up to target via data from slicer
  SET_DISPLAY_TEXT MSG="Hotend: {target_extruder}c"     # Display info on display
  #STATUS_HEATING                                        # Set LEDs to heating-mode
  #G1 X{x_wait} Y{y_wait} Z15 F9000                      # Go to center of the bed
  M107                                                  # Turn off partcooling fan
  M109 S{target_extruder}                               # Heat the hotend to set temp

  ##   Uncomment for Beacon Contact (4 of 4 for beacon contact)
  SET_GCODE_OFFSET Z=0.06                              # Add a little offset for hotend thermal expansion

  LINE_PURGE
  
[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-20.0 F3600                ; retract filament

    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F24000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS

    SET_FAN_SPEED FAN=fan1 SPEED=0
    SET_FAN_SPEED FAN=fan2 SPEED=0
    
    M107                           ; turn off fan
    G1 Z2 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    G0 X5 Y345 F48000              ; park nozzle in the back left (X=0, Y=350)
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0

    #{% if printer['gcode_macro TIMELAPSE_TAKE_FRAME'].enable and printer['timelapse'].frame_count > 0 %}
    #    TIMELAPSE_RENDER
    #{% else %}
    #    {action_respond_info("Timelapse: No frames to render. Skipping.")}
    #{% endif %}